apipkg==1.5
atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
execnet==1.7.1
importlib-metadata==1.6.0
inflect==4.1.0
more-itertools==8.2.0
packaging==20.3
pep8==1.7.1
pluggy==0.13.1
py==1.8.1
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==5.4.2
pytest-cache==1.0
pytest-pep8==1.0.6
six==1.14.0
SQLAlchemy==1.3.17
wcwidth==0.1.9
zipp==3.1.0
